# Ignore CSV files
*.csv

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/
env/

# Ignore log files
*.log

# Ignore system files
.DS_Store

# Ignore temporary files
*.tmp

# Ignore Sphinx build directory
docs/build/